---
title: Server Side Verification
sidebar_label: Server Side Verification
---

## Server Side Verification

Server side implementations are generally beyond the scope of our support but here are some links to further help.

References

- https://developer.apple.com/library/ios/releasenotes/General/ValidateAppStoreReceipt/Introduction.html
- https://gist.github.com/menny/1985010#file-verify_market_in_app-php


You will want to use the data from the application receipt 




